*{
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    border: 0;
}

@import "navbar.scss";
@import "imagenes";
@import "presentacion";
@import "var-colores";
@import "Var-fonts";
@import "titulos-subtitulos";
@import "Flexbox";

